<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaaxkankayotl.healthforall">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:noHistory="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthForAll">
        <activity android:name=".forgetpassword"></activity>
        <activity
            android:name=".neuro_biblio"
            android:label="Neurodegenerative Diseases Sources"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity_neurodegenerative_suplements" />
        </activity>
        <activity
            android:name=".osteo_biblio"
            android:label="Osteoporosis Sources"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity_osteoporosis_supplements" />
        </activity>
        <activity
            android:name=".cvd_biblio"
            android:label="Cardiovascular Diseases Sources"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity_cvd_supplements" />
        </activity>
        <activity
            android:name=".diabetes_biblio"
            android:label="Type 2 Diabetes Sources"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity_diabetes_supplements" />
        </activity>
        <activity
            android:name=".CancerBiblio"
            android:label="Cancer Sources"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity_Cancer_Supplements" />
        </activity>
        <activity
            android:name=".activity_neurodegenerative_suplements"
            android:label="Neurodegenerative Diseases"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity_neurodegenerative" />
        </activity>
        <activity
            android:name=".activity_osteoporosis_supplements"
            android:label="Osteoporosis"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity_osteoporosis" />
        </activity>
        <activity
            android:name=".activity_cvd_supplements"
            android:label="Cardiovascular Diseases"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity_cancer" />
        </activity>
        <activity
            android:name=".Activity_Cancer_Supplements"
            android:label="Cancer"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity_cancer" />
        </activity>
        <activity
            android:name=".activity_diabetes_supplements"
            android:label="Type 2 Diabetes"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity_diabetes" />
        </activity>
        <activity android:name=".Login">
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".SignIn"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity_diabetes"
            android:label="Type 2 Diabetes"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".activity_cancer"
            android:label="Cancer"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".cvdlist"
            android:label="Cardiovascular Diseases"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".activity_neurodegenerative"
            android:label="Neurodegenerative Diseases"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".activity_osteoporosis"
            android:label="Osteoporosis"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>